@use '../utilities/utilities' as *;

header {
  @extend .test;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 5vw;

  a {
    margin: 0 1vw;
    font-weight: 400;
  }
}

.header {
  &__title {
    margin: 0;
  }

  &-nav__link {
    @extend a;
  }
}
