@use '../utilities/colors.scss' as *;

main {
  margin: 0;
  padding: 5vh 5vw 10vh;
  max-width: 300px;
  overflow: hidden;
  @media screen and (min-width: 500px) {
    padding: 0 3vh;
  }
  @media screen and (min-width: 700px) {
    padding: 0 5vh;
  }
  @media screen and (min-width: 900px) {
    padding: 0 7vh;
  }
}
